on:
  schedule:
    - cron: '0 */12 * * *'
jobs:
  build-node:
    runs-on: ubuntu-latest
    container: node:16
    steps:
      - run: node --version
      - run: npm --version
      - uses: actions/checkout@v3
      - run: npm install
      - run: node scrapBoardgames.js
      - name: Deploy
        uses: exuanbo/actions-deploy-gist@v1
        with:
          token: ${{ secrets.TOKEN }}
          gist_id: f217c8ce9b9dc8513e8ac06db067c3a8
          file_path: data/list.json
          file_type: text
