on: push
jobs:
  build-node:
    runs-on: ubuntu-latest
    container: node:16
    steps:
      - run: node --version
      - run: npm --version
      - uses: actions/checkout@v3
      - run: npm install
      - name: Overwrite file
        uses: "DamianReeves/write-file-action@master"
        with:
          path: ./data/data.json
          write-mode: overwrite
          contents: node scrapBoardgames.js
      - name: Commit & Push
          uses: Andro999b/push@v1.3
          with:
            github_token: ${{ secrets.TOKEN }}
            branch: main
            force: true
            message: 'Overwritten by Github Actions - ${date}'
